{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Fools Network</title>
    <meta name="description" content="The Fools Network">
    <meta name="author" content="Eric Carmichael">

{#    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">#}
    <link rel="stylesheet" href="http://paintstrap.com/output/17/kuler/FC/7495208-FCFBFC-FCFBFC-FCFBFC-0E5C89-000000-212121-212121/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/main.css" %}">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<div id="top-black-bg"></div>
<div id="bottom-black-bg"></div>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "pages:index" %}">Fools Network</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li {% if request.path == '/' %}class="active"{% endif %}><a href="{% url "pages:index" %}">Featured</a></li>
                <li {% if '/episodes' in request.path %}class="active"{% endif %}><a href="{% url "pages:episodes" %}">Episodes</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</nav>

<!--
<div class="container">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>
-->
{% block content %}
{% endblock %}
</body>
</html>