{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row featured-fool">
                    <div class="col-md-12">
                        <h1>Featured fool</h1>
                    </div>
                    <div class="col-md-4">
                        <div class="fool-container">
                            <div class="fool">
                                <img src="http://placehold.it/300x300?text=A Fool">
                                <h4 class="name">Michael Ray Bower</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3>Episode mentioned in</h3>
                        <ul class="episodes">
                            <li>
                                <span class="title">RED BAR RADIO (05-28-07)</span>
                                <span class="date">28 May 2007</span>
                            </li>
                            <li>
                                <span class="title">RED BAR RADIO (04-08-09)</span>
                                <span class="date">8 April 2009</span>
                            </li>
                            <li>
                                <span class="title">RED BAR RADIO (08-18-10)</span>
                                <span class="date">18 August 2010</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row fools-wall-tracker">
        <div class="col-md-12">
            <h3>Fools Wall Tracker</h3>
        </div>
        <div class="col-md-3">
            <div class="fool-container small">
                <div class="fool">
                    <img src="http://placehold.it/128x128?text=A Fool">
                    <h4 class="name">Michael Ray Bower</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="fool-container small">
                <div class="fool">
                    <img src="http://placehold.it/128x128?text=A Fool">
                    <h4 class="name">Michael Ray Bower</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="fool-container small">
                <div class="fool">
                    <img src="http://placehold.it/128x128?text=A Fool">
                    <h4 class="name">Michael Ray Bower</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="fool-container small">
                <div class="fool">
                    <img src="http://placehold.it/128x128?text=A Fool">
                    <h4 class="name">Michael Ray Bower</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}