body {
  padding-top: 60px;
  padding-bottom: 200px;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  background-color: #bd2828;
}
.featured-fool {
  padding: 20px 20px 80px 20px;
}
.featured-fool h1 {
  text-align: center;
}
.fools-wall-tracker {
  background-color: #212121;
  padding: 40px;
  margin-bottom: 100px;
}
.fools-wall-tracker h3 {
  text-align: center;
  margin-top: -10px;
  padding: 20px 0;
}
.fool-container {
  text-align: center;
}
select {
  border-radius: 0;
  -webkit-appearance: none;
}
